" -- Important note --
" To use it install which-key plugin for IdeaVim or remove lines with which-key configuration

" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

let mapleader="\<Space>"

" Show possible key bindings in popup (which-key plugin)
set which-key
set notimeout

" Show line numbers relative
set number
set relativenumber


" Make J (join lines) behave like Intellij's smart join
set ideajoin

" Keep cursor position and selection after refactor instead of letting IDE move it
set idearefactormode=keep

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
" Assumptions:
" f = file
" e = edit
" w = window
" s = search
" g = go

nnoremap <Leader>wi :action ToggleDistractionFreeMode<CR>

" -- Terminal
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>wt :action Terminal.OpenInTerminal<CR>

" -- Split/move editor
" Name the <Leader>w prefix group
call which_key#register('<Leader>w', 'window')
nnoremap <Leader>wv :action SplitVertically<CR>
nnoremap <Leader>wh :action SplitHorizontally<CR>
nnoremap <Leader>wd :action Unsplit<CR>

"nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

" -- Navigate between splits in this editor window
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

" narazie nie wiem co to
"nnoremap <TAB> :action PreviousTab<CR>
"nnoremap <s-TAB> :action NextTab<CR>

" -- Navigate through editor windows
nnoremap <Leader>en :action EditSourceInNewWindow<CR>
nnoremap <Leader>n :action NextWindow<CR>
nnoremap <Leader>q :action CloseContent<CR>
nnoremap <Leader>qa :action CloseAllEditors<CR>

" -- Visual mode indent keeping selection
vnoremap < <gv
vnoremap > >gv

" -- Move between methods
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

" -- Code folding
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

" -- Refactorings
nnoremap <leader>er :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>= :action ReformatCode<CR>
nnoremap <leader>o :action OptimizeImports<CR>

" -- Recent files/locations and local history
nnoremap <leader>r :action RecentFiles<CR>
nnoremap <leader>l :action RecentLocations<CR>
nnoremap <leader>h :action LocalHistory.ShowHistory<CR>

" -- Error Navigation
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>

" -- Search navigation
nnoremap ss :action FindInPath<CR>
nnoremap sa :action GotoAction<CR>
nnoremap sf :action GotoFile<CR>
nnoremap su :action FindUsages<CR>
nnoremap sc :action GotoClass<CR>

" -- Go to navigation
nnoremap <leader>b :action GotoRelated<CR>
nnoremap <leader>ch :action CallHierarchy<CR>
"nnoremap <leader> :action ShowNavBar<CR>
nnoremap <leader>fs :action FileStructurePopup<CR>
"nnoremap <c-o> :action GotoSymbol<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gp :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

" -- Window management
nnoremap <leader>wp :action JumpToLastWindow<CR>
nnoremap <leader>wx :action HideAllWindows<CR>

""" Running and Debugging
nnoremap <leader>ar :action ContextRun<CR>
nnoremap <leader>ac :action RunClass<CR>
nnoremap <leader>ao :action ChooseRunConfiguration<CR>
nnoremap <leader>at :action ActivateRunToolWindow<CR>
nnoremap <leader>au :action Rerun<CR>

nnoremap <leader>af :action RerunFailedTests<CR>

nnoremap <leader>ab :action ToggleLineBreakpoint<CR>
nnoremap <leader>ad :action ContextDebug<CR>
nnoremap <leader>an :action ActivateDebugToolWindow<CR>